[Hypothesis testing](https://www.codecademy.com/paths/data-science/tracks/dscp-hypothesis-testing/modules/dscp-testing-a-sample-statistic/projects/heart-disease-research-i)

In [1]:
import numpy as np
import pandas as pd

In [2]:
heart = pd.read_csv('heart_disease.csv')
yes_hd = heart[heart.heart_disease == 'presence']
no_hd = heart[heart.heart_disease == 'absence']

In [4]:
#1
chol_hd = yes_hd['chol']
chol_hd.head()
yes_hd.describe()

              age    trestbps        chol       exang         fbs     thalach
count  139.000000  139.000000  139.000000  139.000000  139.000000  139.000000
mean    56.625899  134.568345  251.474820    0.546763    0.158273  139.258993
std      7.938416   18.769019   49.486835    0.499609    0.366317   22.593233
min     35.000000  100.000000  131.000000    0.000000    0.000000   71.000000
25%     52.000000  120.000000  217.500000    0.000000    0.000000  125.000000
50%     58.000000  130.000000  249.000000    1.000000    0.000000  142.000000
75%     62.000000  145.000000  283.500000    1.000000    0.000000  156.500000
max     77.000000  200.000000  409.000000    1.000000    1.000000  195.000000

In [5]:
#2
print(chol_hd.mean())

251.4748201438849

In [6]:
#3
from scipy.stats import ttest_1samp

In [7]:
#4
two_sided = ttest_1samp(a = chol_hd, popmean=240)
p = two_sided[1] / 2
print(p)

#p < 0.05 this means that hd patients have an average chol
#that's higher than 240 mg/dl
#higher and not lower was found in #2

0.0035411033905155707

In [8]:
#5
chol_no_hd =  no_hd['chol']
print(chol_no_hd.mean())
two_sided_no_hd = ttest_1samp(a = chol_no_hd, popmean=240)
p_no_hd = two_sided_no_hd[1] / 2
print(p_no_hd)

242.640243902439
0.26397120232220506

In [9]:
#6
num_patients = len(heart)
print(num_patients)

303

In [11]:
#7
num_highfbs_patients = len(heart[heart.fbs == 1])
print(num_highfbs_patients)

45

In [20]:
#8 Number of people in the sample with diabetes
import math
print(math.floor(0.08 * len(heart)))

24

In [25]:
#9
from scipy.stats import binom_test

#x = observed number of successes
#p = null probability of success
binom_test(x=45, n=len(heart), p=0.08, alternative='greater')

4.689471951448875e-05

In [21]:
#10 By the way, how much % of 303 is 45 anyway ?
print((45/303) * 100)

14.85148514851485

In [22]:
#This is why the null hypothesis was overruled, 14.8% > 8%